{% extends 'base_news.html' %}
{% block content %}
    <div class="item_banner item">
    </div>
    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2" style="text-align: center;margin-top: 50px">【课题】关于商请参与县域智慧城市课题函</h1>

                        <p class="col-xs-4">时间：2018-05-15</p>
                        <p class="col-xs-4">作者：政研室</p>
                        <p class="col-xs-4">来源：www.scitylab.org</p>

                    </div>
                    <div class="article-content">
                        <p><span style="color: #008000">编者按</span></p>
                        <p>
                            为响应“智慧社会”建设，中国城市科学研究会智慧城市联合实验室政策理论研究室将《县域智慧城市研究》列入研究工作计划。为课题的顺利推进，经研究，课题组拟定《智慧城市信息调研表》，该项课题研究的阶段成果将于2018年6月27日在上海发布</p>
                        <p style="text-align: center"><span>关于商请参与县域智慧城市课题函</span></p>
                        <p>各有关城市：</p>
                        <p>
                            根据十九大报告中“建设科技强国、质量强国、航天强国、网络强国、交通强国、数字中国、智慧社会”的要求，中国城市科学研究会智慧城市联合实验室政策理论研究室已将《县域智慧城市研究》列入研究工作计划。为课题的顺利推进，经研究，课题组拟定《智慧城市信息调研表》，望各城市能够积极配合并于2018年5月15日前反馈至课题组邮箱。</p>
                        <p>该项课题研究的阶段成果将于2018年6月27日在上海发布，国际合作项目“地平线2020·URBiNAT”中国区项目启动会也将同期召开，如有兴趣参会，请联系大会组委会。</p>
                        <p>感谢各城市长期以来对中国城市科学研究会智慧城市联合实验室的支持。</p>
                        <p><span>联系方式：</span></p>
                        <p>课题组邮箱：caoyu@scitylab.org</p>
                        <p>大会组委会邮箱：sciforum@scitylab.org</p>
                        <p>咨询电话：010-68010308</p>
                        <p>微信：SCBIGEYES（SC大眼睛） QQ：1460444913</p>
                        <p style="margin-left: 490px">中国城市科学研究会智慧城市联合实验室</p>
                        <p style="margin-left: 647px">2018年4月25日</p>
                        <div style="border-top: 1px solid #c1c1c1"></div>
                        <p>上一篇：<a href="javascript:void 0">没有了</a></p>
                        <p>下一篇：<a href="101.html">邀请函|2018（第七届）国际智慧城市峰会暨智慧城市创新生态博览会</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
