{% extends 'base_news.html' %}

{% block content %}
    <div class="item_banner item">
    </div>
    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2" style="text-align: center;margin-top: 50px">
                            邀请函|2018（第七届）国际智慧城市峰会暨智慧城市创新生态博览会</h1>

                        <p class="col-xs-4">时间：2018-10-31</p>
                        <p class="col-xs-4">作者：政研室</p>
                        <p class="col-xs-4">来源：www.scitylab.org</p>

                    </div>
                    <div class="article-content">
                        <p>由中国城市科学研究会和海口市人民政府共同举办的“<span>2018（第七届）国际智慧城市峰会暨智慧城市创新生态博览会</span>”将于2018年12月18至19日在海口市召开。会议主题为智慧协同，生态创新。届时，实验室将承办智慧城市标准化论坛，敬请关注！详情咨询010-68010308。
                        </p>
                        <h3>1.大会主题</h3>
                        <p>智慧协同 生态创新</p>
                        <h3>2.大会时间</h3>
                        <p>12月18-19日（17日大会报到）</p>
                        <h3>3.大会地点</h3>
                        <p>海南国际会展中心</p>
                        <h3>4.大会组织</h3>
                        <p><span>支持单位</span></p>
                        <p>中华人民共和国发展和改革委员会</p>
                        <p>中华人民共和国住房和城乡建设部</p>
                        <p>中华人民共和国工业和信息化部</p>
                        <p>中华人民共和国科学技术部</p>
                        <p>中国科学技术协会</p>
                        <p>中国科学院</p>
                        <p>中国工程院</p>
                        <p>中国雄安集团</p>
                        <p><span>主办单位</span></p>
                        <p>中国城市科学研究会</p>
                        <p>海口市人民政府</p>
                        <p><span>协办单位</span></p>
                        <p>联合国工业发展组织（UNIDO）</p>
                        <p>德国国际合作机构</p>
                        <p>国际电气和电子工程师协会电力与能源协会（IEEE PES）</p>
                        <p>国家半导体照明工程研发及产业联盟</p>
                        <p>中国科学技术法学会</p>
                        <h3>5.大会内容</h3>
                        <p>▼ 18个研讨会专题 ▼</p>
                        <p>1.智慧城市创新发展</p>
                        <p>2.特大城市和国家级新区的智慧发展</p>
                        <p>3.数字经济与城市发展</p>
                        <p>4.智慧城市认证与评价</p>
                        <p>5.智慧城市标准化</p>
                        <p>6.智能化城市街区</p>
                        <p>7.智慧城市体验创新</p>
                        <p>8.大数据驱动决策与创新</p>
                        <p>9.人工智能与城市未来</p>
                        <p>10.未来智慧交通</p>
                        <p>11.智慧城市管理</p>
                        <p>12.智慧建造</p>
                        <p>13.智慧生态城市与海绵城市</p>
                        <p>14.智慧物流</p>
                        <p>15.智慧住区与智能家居</p>
                        <p>16.智慧校园</p>
                        <p>17.物联网与智慧水务</p>
                        <p>18.数据安全</p>
                        <h3>6.大会参会人员</h3>
                        <p>
                            联合国工业发展组织（UNIDO）、德国国际合作机构、国际电气和电子工程师协会（IEEE）代表，中国科学院、中国工程院院士，国内外智慧城市代表，各地智慧城市主管部门，各省市住房城乡建设主管部门，智慧城市解决方案服务商，互联网、大数据、人工智能等新一代信息技术服务商，科研院所，金融机构，智慧城市设备供应商，房地产商，城市基础设施建设单位，科研工作者等。</p>
                        <h3>7.博览会</h3>
                        <p>
                            大会同期博览会，博览会以“推动智慧协同、共建产业生态”为目标，推广优秀智慧城市解决方案，以大数据、人工智能、智慧政务、智慧城管、智慧交通、智慧建造、智慧市政、智慧水务、智慧能源、智慧医疗、智慧旅游、智慧教育、智慧住区、智能建筑、智能家居等专项应用为单元，展览展示国内外智慧城市建设辉煌成就。</p>


                        <div style="border-top: 1px solid #c1c1c1"></div>
                        <p>上一篇：<a href="100.html">【课题】关于商请参与县域智慧城市课题函</a></p>
                        <p>下一篇：<a href="102.html">仿真|城市大数据及城市仿真论坛在北京召开</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
