{% extends 'base_news.html' %}
{% block content %}
    <div class="item_banner item">

    </div>
    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2" style="text-align: center;margin-top: 50px">仿真|城市大数据及城市仿真论坛在北京召开</h1>

                        <p class="col-xs-4">时间：2018-10-31</p>
                        <p class="col-xs-4">作者：政研室</p>
                        <p class="col-xs-4">来源：www.scitylab.org</p>

                    </div>
                    <div class="article-content">
                        <p>9月20日，“城市大数据及城市仿真论坛2018”在北京召开。论坛由中国城市科学研究会指导，中国城市科学研究会智慧城市联合实验室主办，中城智慧（北京）城市规划设计研究院承办。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/1061.jpg" alt="">
                        </div>
                        <p>
                            该论坛邀请了包括中国、美国、德国、法国、英国和日本在内的国内外知名学者、企业代表200余人，就城市发展环境中的人口、交通、环境、产业、旅游、海绵城市、居住舒适性等要素进行了充分讨论。</p>
                        <p>参会学者针对基于城市仿真应用展开探讨，强调了城市仿真中各学科的融合，将城市仿真技术与传统城市规划及水文学等学科相结合，用基于时空大数据的城市仿真推动城市相关数据的整合与发展。</p>
                        <p>
                            该论坛在“城市大数据及城市仿真论坛2017”的基础上，聚焦城市仿真科学与应用研究，搭建国内外交流平台，深入挖掘仿真技术在预测城市发展规律方面的应用，使城市仿真成为指导城市管理决策的科学支撑手段。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/1062.jpg" alt="">
                        </div>
                        <p>论坛邀请中国城市规划设计研究院副院长李迅进行“城市发展的新理念新方法”主旨演讲。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/1063.jpg" alt="李迅副院长">
                            <span>李迅副院长</span>
                        </div>
                        <p>智慧城市协会主席、IEC智慧城市委员会执行主席Michael Mulquin进行“Becoming a Data Driven City”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/1064.jpg" alt="Michael Mulquin主席">
                            <span>Michael Mulquin主席</span>
                        </div>
                        <p>复旦大学特聘教授、博士生导师、复旦大学人口研究所所长、人口学家和城市化及城市与区域发展研究专家王桂新进行“基于队列变化的小区域人口预测及注意的问题”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/1065.jpg" alt="王桂新教授">
                            <span>王桂新教授</span>
                        </div>
                        <p>大阪大学教授、日本机械学会副会长Takeo Kajisia进行“Direct Numerical Simulation of Inertial Particles/Droplets in
                            Turbulent Flows”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/1066.jpg" alt="Takeo Kajisia教授">
                            <span>Takeo Kajisia教授</span>
                        </div>
                        <p>深圳大学教授、深圳大学建设工程生态技术研究所所长刘建进行“城市轨道交通海绵城市设施抵抗暴雨效果数值模拟”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/1067.jpg" alt="刘建教授">
                            <span>刘建教授</span>
                        </div>
                        <p></p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/1068.jpg" alt="范秦寅博士">
                            <span>范秦寅博士</span>
                        </div>
                        <p>中国城市科学研究会智慧城市联合实验室数字仿真研究院首席科学家范秦寅进行“深入展开城市仿真的现实意义”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/1069.jpg" alt="吴建平教授">
                            <span>吴建平教授</span>
                        </div>
                        <p>清华大学教授吴建平进行“无人驾驶——未来交通与仿真研究”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10610.jpg" alt="肖中发教授">
                            <span>肖中发教授</span>
                        </div>
                        <p>北京工业大学建筑学院副教授肖中发进行“大数据背景下的城市空间分析”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10611.jpg" alt="马琦伟">
                            <span>马琦伟</span>
                        </div>
                        <p>中国城市规划设计研究院信息创新中心马琦伟进行“基于街景图片大数据的北京城市街道景观意向识别”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10612.jpg" alt="法国美迪有限公司中国区技术负责人蒋紫虓">
                            <span>法国美迪有限公司中国区技术负责人蒋紫虓</span>
                        </div>
                        <p>法国美迪有限公司中国区技术负责人蒋紫虓、进行“巴塞罗那大都市区风资源评估案例”分享、美国赛默飞世尔公司分析设备组化学分析部门研发副总裁James R. LaDine进行“Using
                            Causal Relationship Model to Prioritize Simulation Parameters”分享、德国Gritworld公司创始人吴小毛进行“Smart
                            City
                            Simulation”分享、北京图安世纪科技股份有限公司总经理梁松进行“三维仿真技术在城市多领域的创新应用”分享、上海树融数据科技有限公司CEO王志永进行“基于多源数据融合的数据标准化在城市模拟与仿真中的应用”分享、北京太比雅科技股份有限公司总工程师倪付燕进行“智慧水务云平台”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10613.jpg"
                                 alt="美国赛默飞世尔公司分析设备组化学分析部门研发副总裁James R. LaDine">
                            <span>美国赛默飞世尔公司分析设备组化学分析部门研发副总裁James R. LaDine</span>
                        </div>
                        <p></p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10614.jpg" alt="德国Gritworld公司创始人吴小毛">
                            <span>德国Gritworld公司创始人吴小毛</span>
                        </div>
                        <p></p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10615.jpg" alt="北京图安世纪科技股份有限公司总经理梁松">
                            <span>北京图安世纪科技股份有限公司总经理梁松</span>
                        </div>
                        <p></p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10616.jpg" alt="上海树融数据科技有限公司CEO王志永">
                            <span>上海树融数据科技有限公司CEO王志永</span>
                        </div>
                        <p></p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10617.jpg" alt="北京太比雅科技股份有限公司总工程师倪付燕">
                            <span>北京太比雅科技股份有限公司总工程师倪付燕</span>
                        </div>
                        <p>北京奥特美克科技股份有限公司规划设计院院长杨丽丽进行“智慧水务应用”分享、百度资深研发工程师阚长城进行“慧眼识人——基于时空大数据的城市人口研究”分享。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10618.jpg" alt="北京奥特美克科技股份有限公司规划设计院院长杨丽丽">
                            <span>北京奥特美克科技股份有限公司规划设计院院长杨丽丽</span>
                        </div>
                        <p></p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10619.jpg" alt="百度资深研发工程师阚长城">
                            <span>百度资深研发工程师阚长城</span>
                        </div>
                        <p>在智慧城市高峰对话环节，中国城市科学研究会智慧城市联合实验室数字仿真研究院首席科学家范秦寅、清华大学教授吴建平、复旦大学人口研究所所长王桂新、北京市住房和城乡建设委员会科技处
                            副处长宛春、北京邮电大学教授宋俊德、浪潮集团智慧城市事业部副总经理张新法等专家、城市及企业代表共同就“城市大数据及仿真的展望”等话题进行进行了研讨和交流。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10620.jpg" alt="">
                        </div>
                        <p>
                            在该论坛上，中国城市科学研究会智慧城市联合实验室（中城智慧（北京）城市规划设计研究院有限公司）与北京联合大学、浪潮集团有限公司、北京奥特美克科技股份有限公司、天合光能股份有限公司分别举行战略合作签约仪式，未来双方将就城市仿真等领域展开密切合作。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_106/10621.jpg" alt="签约仪式">
                            <span>签约仪式</span>
                        </div>
                        <p>
                            目前中国城市化程度已接近60%，未来的城市管理存在着更多的不确定性，中国城市科学研究会智慧城市联合实验室在积极落地中国绿色智慧城市、实现基于时空大数据的多学科全方位的城市仿真的过程中，推进中国软件国家意识的形成，创造中国崭新的城市规划科学，为我国一带一路国家战略的贯彻实施和全球城市化进程作贡献。</p>


                        <div style="border-top: 1px solid #c1c1c1"></div>
                        <p>上一篇：<a href="101.html">邀请函|2018（第七届）国际智慧城市峰会暨智慧城市创新生态博览会</a></p>
                        <p>下一篇：<a href="103.html">标准|ISO/TC268/SC1全会在莫斯科顺利召开</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}