{% extends 'base_news.html' %}
{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2" style="text-align: center;margin-top: 50px">标准|ISO/TC268/SC1全会在莫斯科顺利召开</h1>

                        <p class="col-xs-4">时间：2018-10-31</p>
                        <p class="col-xs-4">作者：政研室</p>
                        <p class="col-xs-4">来源：www.scitylab.org</p>

                    </div>
                    <div class="article-content">
                        <p>
                            2018年10月15-19日，ISO/TC268/SC1智慧城市基础设施分技术委员会在俄罗斯首都莫斯科顺利召开。TC268/SC1副主席中国城市科学研究会智慧城市联合实验室万碧玉博士带领专家团队参加了本次会议。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_105/1051.jpg" alt="">
                        </div>
                        <p>10月15日下午组织专家召开了ISO/TC268/SC1/TG2 <span>【试点测试】</span>第三次工作会议，会议上对全球试点城市情况汇进行了汇报与讨论。中国试点城市佛山市南海区、合肥市、成都市代表，日本川崎市代表，英国剑桥代表均出席了会议。
                        </p>
                        <p>10月17日组织专家召开了ISO/TC268/SC1/WG4 <span>【智慧城市基础设施数据】</span>工作组第四次会议上对ISO
                            37156CD投票结果进行了通报，对DIS文档修改方案进行了商讨，同时会上中国专家还对“智慧城市多规合一数据集成规范（SCP）”，“城市治理与服务数字化”，“智慧地下管廊管理一般要求”等3项新提案做了汇报。WG3
                            <span>【智慧交通】</span>工作组中中国立项成功的智慧停车国际标准进入WD编辑阶段，介绍了有关轨道交通的两个新提案。中国在ISO智慧城市国际标准的各个领域都取得了较大进展。
                        </p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_105/1052.jpg" alt="">
                        </div>
                        <div style="border-top: 1px solid #c1c1c1"></div>
                        <p>上一篇：<a href="102.html">仿真|城市大数据及城市仿真论坛在北京召开</a></p>
                        <p>下一篇：<a href="104.html">记录片|回顾过往，展望未来，直击“智慧城市十年”</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}