{% extends 'base_news.html' %}
{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2" style="text-align: center;margin-top: 50px">记录片|回顾过往，展望未来，直击“智慧城市十年”</h1>

                        <p class="col-xs-4">时间：2018-11-27</p>
                        <p class="col-xs-4">作者：政研室</p>
                        <p class="col-xs-4">来源：www.scitylab.org</p>

                    </div>
                    <div class="article-content">
                        <div style="text-align: center">
                            <p>智慧城市十年</p>
                            <p>哪些关键事件载入历史？</p>
                            <p>哪些痛点难点成为过往？</p>
                            <p>哪些大胆探索成为案例？</p>
                            <p>未来智慧城市去向何方？</p>
                            <p>拨开历史迷雾，直击热点，解析难点</p>
                            <p>“智慧城市十年”邀您共赴回顾与展望之旅”</p>
                        </div>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_104/1041.png" alt="">
                            <img src="/static/img/news/news_104/1042.png" alt="">
                            <img src="/static/img/news/news_104/1043.png" alt="">
                            <img src="/static/img/news/news_104/1044.png" alt="">
                            <img src="/static/img/news/news_104/1045.png" alt="">
                            <img src="/static/img/news/news_104/1046.png" alt="">
                            <img src="/static/img/news/news_104/1047.png" alt="">
                            <img src="/static/img/news/news_104/1048.png" alt="">
                            <img src="/static/img/news/news_104/1049.png" alt="">
                        </div>
                        <div style="border-top: 1px solid #c1c1c1"></div>
                        <p>上一篇：<a href="103.html">标准|ISO/TC268/SC1全会在莫斯科顺利召开</a></p>
                        <p>下一篇：<a href="105.html">大数据应用城市准备好了吗？城市仿真试点征集中</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}