{% extends 'base_news.html' %}
{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2" style="text-align: center;margin-top: 50px">大数据应用城市准备好了吗？城市仿真试点征集中</h1>

                        <p class="col-xs-4">时间：2019-01-10</p>
                        <p class="col-xs-4">作者：政研室</p>
                        <p class="col-xs-4">来源：www.scitylab.org</p>

                    </div>
                    <div class="article-content">
                        <p>2018年12月18日，由中国城市科学研究会智慧城市联合实验室发起的“城市仿真”项目举行启动仪式。城市仿真风环境仿真项目将在汶川、佛山南海区等城市率先示范。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_103/1031.jpg" alt="">
                        </div>
                        <div style="text-align: center">
                            <span style="font-family: comic sans ms,cursive">图片说明</span>
                            <br>
                            <span style="font-family: comic sans ms,cursive">中国城市科学研究会智慧城市联合实验室首席科学家、城市仿真项目负责人范秦寅博士（左三），国际标准化组织智慧城市基础设施分技术委员会副主席、中国城市科学研究会智慧城市联合实验室首席科学家万碧玉（右四），澳门城市大学数据科学研究院院长杜文才（右一），德国能源署建筑能效部中德合作项目主任叶昂（右二），沈阳市大数据管理局局长李莹（右三），汶川县委副书记、县人民政府县长旺娜（左二），广东佛山南海区人民政府常务副区长蔡汉全（左一）共同为项目启动。</span>
                        </div>

                        <p><span>该项目征集首批风环境仿真试点城市，基于城市提供相关城市数据，免费为城市核心区进行风环境模拟仿真预测</span>，提出区域内风环境分析报告（包括风速分布、压力分布、风力等级分布图等），为城市建筑物布局、城市风灾预防、城市风道布置等提供参考，并作为示范性项目向国内更多城市推广。
                        </p>
                        <p>
                            该项目由中国城市科学研究会智慧城市联合实验室发起，并专项拨款启动，数字仿真研究院具体承担。项目旨在推动城市仿真，提高城市对于城市基础数据以及城市未来发展的重视。通过对城市风环境、水环境、污染物等的计算仿真，为城市规划与城市管理提供科学支撑，为城市实现数字化、智能化提供科学支持，为城市的决策制定与未来规划提供新方法和新思路。</p>
                        <p>该项目将推动城市对于城市建筑和城市地形等基础数据的重视，提高城市对于这些数据的基本认识，提高城市对于这些数据的管理及利用水平，为城市的今后的发展打下科学基础！</p>
                        <p><span>联系人：</span>曹余、商标</p>
                        <p><span>联系电话：</span>010-68010308、15801630454、16601118977</p>
                        <p><span>邮箱：</span>caoyu@scitylab.org、shangbiao@scitylab.org</p>
                        <div style="border-top: 1px solid #c1c1c1"></div>
                        <p>上一篇：<a href="104.html">记录片|回顾过往，展望未来，直击“智慧城市十年”</a></p>
                        <p>下一篇：<a href="106.html">国际标准化组织智慧城市试点开启新一轮遴选</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}