{% extends 'base_news.html' %}
{% block content %}

    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2" style="text-align: center;margin-top: 50px">国际标准化组织智慧城市试点开启新一轮遴选</h1>

                        <p class="col-xs-4">时间：2019-01-10</p>
                        <p class="col-xs-4">作者：政研室</p>
                        <p class="col-xs-4">来源：www.scitylab.org</p>

                    </div>
                    <div class="article-content">
                        <p>
                            ISO智慧城市试点的城市征集工作仍在继续，目前该试点项目推进顺利，中国首批启动的试点城市已逐步进入专家调研和项目设计实施阶段。预计2019年将在欧美国家再征集3个城市，中国征集2个城市。TG2将根据城市参与情况，有序安排后续试点城市的评审和调研工作，并计划于2019年下半年对首批参与试点城市启动试点评估工作。</p>
                        <p>2017年5月28日-6月2日，ISO/TC268/SC1第九次全会在柏林召开，正式通过决议成立新TG(ISO/TC268/SC1/TG2 Smart Community
                            Infrastructures - Pilot
                            Testing智慧城市基础设施试点测试任务组），全面负责ISO/TC268/SC1所有已发布和在研智慧城市标准的试点测试工作。此次智慧城市国际标准试点工作将对ISO/TC268/SC1的8个国际标准进行测试，包括指标类、成熟度模型、数据类、运营管理、智慧交通等方向。试点遴选工作流程包括申报材料审查、实地考查、综合评估等环节。国际标准试点项目经过前期筹备正式进入项目实施期。</p>
                        <p>
                            中国城市科学研究会作为ISO/TC268/SC1中国国内技术对口单位，牵头开展该试点项目在中国的推进工作。此项工作得到国家标准化管理委员会、国家智慧城市标准化总体组等的指导与支持。</p>
                        <div style="border-top: 1px solid #c1c1c1"></div>
                        <p>上一篇：<a href="105.html">大数据应用城市准备好了吗？城市仿真试点征集中</a></p>
                        <p>下一篇：<a href="107.html">标准|IEC智慧城市系统委员会WG2工作会议在印度召开</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
