{% extends 'base_news.html' %}
{% block content %}

    <div class="item_banner item">

    </div>
    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2" style="text-align: center;margin-top: 50px">标准|IEC智慧城市系统委员会WG2工作会议在印度召开</h1>

                        <p class="col-xs-4">时间：2019-01-14 </p>
                        <p class="col-xs-4">作者：政研室</p>
                        <p class="col-xs-4">来源：www.scitylab.org</p>

                    </div>
                    <div class="article-content">
                        <p>2018年12月9日—12月14日，国际电工委员会智慧城市系统委员会（International Electrotechnical Commission SyC Smart Cities
                            Committee）第四次全会在印度城市瓦拉纳西召开。其中WG2市场关系工作组会议在12月12日召开，英国、美国、德国、瑞典、南非、墨西哥、新加坡、日本、韩国、印度与中国等11个国家的40多位专家出席了此次会议。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_101/1011.jpg" alt="">
                        </div>
                        <p>在WG2市场关系工作组会议上，WG2召集人中国城市科学研究会智慧城市联合实验室首席科学家万碧玉博士主持会议。印度专家Anand Kumar博士分享了关于ISO/IEC/IEEE
                            420X0 国际标准的制定。万碧玉博士向工作组汇报了WG2工作组2018下半年工作成果及下一步工作计划。WG2联合召集人美国专家Richard Baker汇报了City needs
                            survey (城市需求调研)的新工作项目提案(NWIP)草稿。</p>
                        <p><span>TT1: Smart clean water project</span>（智慧水务）（上海仪电集团智慧城市设计院章建兵）， <span>TT2: Smart urban planning</span>（智慧城市规划）（北京清华同衡规划设计研究院王飞飞），<span>TT3：City Information modeling（CIM）</span>（深圳市斯维尔科技股份有限公司郭春兰）和<span>TT4：Intelligent opeartion center</span>（运营指挥中心）（平安国际智慧城市科技股份有限公司齐为）汇报了NWIP（新标准提案）和最新工作进展。
                        </p>
                        <p>四个小组的国际标准提案顺利推进一步。并且City Needs survey TR提案进入准备投票阶段。与会人员积极发言，并产生了大量成果。会议决定WG2各任务组最后产出物为System
                            Resource Document (SRD)，并且任务组将会根据此次会议的专家意见尽快完善新标准提案，并将尽快向IEC提交新标准提案以发起国家投票。</p>
                        <img src="/static/img/news/news_101/1012.jpg" alt="">
                        <div style="border-top: 1px solid #c1c1c1"></div>
                        <p>上一篇：<a href="106.html">国际标准化组织智慧城市试点开启新一轮遴选</a></p>
                        <p>下一篇：<a href="108.html">年度盘点|智慧城市2018回顾与展望</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
