{% extends 'base_news.html' %}
{% block content %}

    <div class="item_banner item">

    </div>
    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2" style="text-align: center;margin-top: 50px">年度盘点|智慧城市2018回顾与展望</h1>

                        <p class="col-xs-4">时间：2017-05-09</p>
                        <p class="col-xs-4">作者：政研室</p>
                        <p class="col-xs-4">来源：www.scitylab.org</p>

                    </div>
                    <div class="article-content">
                        <p>
                            2018年，智慧城市建设已经十年，中国已成为全球最大智慧城市实施国。中国城市科学研究会智慧城市联合实验室在对2015、2016、2017年进行盘点后，再次推出智慧城市2018年度盘点！版权所有，转载请注明出处。
                            由中国城市科学研究会智慧城市联合实验室推出的“智慧城市十年”纪录片已经开启城市调研。
                            在世界各国都在加大对城市数字化转型投入的背景下，中国各地智慧城市建设热情未减。从中央到地方，智慧城市标准评价获得更广泛重视；城市上云的同时，一些城市政府也开始大胆尝试委托企业进行政务数据运营；另一方面，吵吵闹闹的互联网+，被传统产业内生的变革声音淹没，以传统产业为本位的创新成为新趋势；科技发展进一步推进业务、数据、技术的大融合，AI人工智能全面赋能城市各行各业；应用场景越来越被产业创新所关注，大规模计算仿真这一在绿建、工业已有成熟应用的前沿技术开始在城市大尺度应用中取得质的突破；信息安全一直是智慧城市的达摩克利斯之剑，一些自主、可控的核心安全技术有效的改善了信息安全环境；此外，智慧城市领域国际合作再次向纵深发展。</p>
                        <h3>一、各国加大投入助力城市数字化转型</h3>
                        <p>
                            目前，全世界各国都在加大对城市数字化转型的力度。构建智慧城市，不仅是技术发展带来的效率提高，还要用数字经济来衡量产业发展的趋势，便于政府能精细化地调整产业结构，更好地发展实体经济。越来越多国家将智慧城市纳入国家战略，投资力度不断加大。</p>
                        <p>从全球角度看，政治经济波动持续、逆全球化趋势抬头、技术加速变革商业等因素促使数字化转型。</p>
                        <p>美国政府数字化转型遵循以信息为中心、共享平台、以用户为中心、安全和隐私这四大原则，实现了由管制型政府向服务型政府的转变。</p>
                        <p>英国通过《政府数字化战略》、“数字政府即平台”等政府数字化转型战略计划，成为了全世界领先的数字政府，体现了以人为本的原则以及高度的灵活性和包容性。</p>
                        <p>澳大利亚政府依托强大的数字能力对数字环境的变化作出快速反应，强调以群众为中心、保护数据、提升服务能力、协同治理、持续创新、数据共享，从根本上改变了政府服务的提供方式。</p>
                        <p>
                            2018年，以“驱动数字中国”为主题的云栖大会在杭州召开，自十九大明确提出建设“数字中国”后，各地政府、企业纷纷加入数字化转型的行列中。2018年7月，浙江省人民政府办公厅印发《浙江省数字化转型标准化建设方案（2018—2020年）》的通知；2018年10月，台州市人民政府办公室印发《台州市数字化转型标准化建设实施方案（2018—2020年）》，聚焦聚力高质量、竞争力、现代化，以标准化支撑台州数字化转型。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/1001.jpg" alt="">
                        </div>
                        <h3>二、从中央到地方标准评价获广泛重视</h3>
                        <p>
                            智慧城市相关标准的制定与推广，可以说是为智慧城市建设打造的一把统一标尺，促进城市建设标准化、智能化、模式化，实现智慧城市建设可持续、可复制、可推广，以点带面促进整个地区、整个国家的智慧城市建设与发展。</p>
                        <p>
                            2018年，从中央到地方标准评价获广泛重视。截至目前，已立项的智慧城市国家标准已达到36项，其中发布18项，报批11项。其中中国城市科学研究会智慧城市联合实验室牵头主导4项国家标准，参与8项国家标准。</p>
                        <p>2018年，《智慧城市顶层设计指南》、《智慧城市 信息技术运营指南》、《智慧城市评价模型及基础评价指标体系 第4部分：建设管理》、《智慧城市 数据融合
                            第1部分：概念模型》等国家标准相继发布。《新型智慧城市发展白皮书（2018）——评价引领 标准支撑》于6月发布，标志着我国智慧城市的应用和创新将走向更成熟的阶段。</p>
                        <p>
                            2018年8月，重庆出台全国首个省级层面“智慧城市管理”行业标准《重庆市智慧城市管理信息系统技术规范》，为全市智慧城市管理建设指明方向。6月，山东省住建厅发布《山东省绿色智慧住区建设指南》，积极推动山东省绿色智慧住区的标准及发展。</p>
                        <p>2018年，深圳在智慧城市建设方面领跑全国，拥有打造新型智慧城市建设标准的优势。除深圳外，陕西、江苏、安徽等地对标准的重视日益提升，智慧城市标准建设成为趋势。</p>
                        <p>
                            继2017年中国成都市、佛山市南海区等2个城市正式入选ISO智慧城市国际标准试点之后，2018年5月，ISO珠海会议宣布，中国安徽合肥市（高新区）、英国剑桥与日本川崎正式入围试点城市。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/1002.png" alt="">
                        </div>
                        <h3>三、城市上云政府数据委托尝试数管家</h3>
                        <p>
                            2018年，“城市云”成为大众熟知的一个新鲜词汇。“云”是一切数字化应用的基础，城市基于城市云，越来越多的智慧应用进入城市运行和人们生活中，其中包括以社区公共服务、智能医疗为代表的民生服务，以智能安监、综合应急指挥为代表的城市治理，以智能园区、智能物流为代表的经济发展等。“云城市”理念大量集中了人们生活中各种可以共享的公共资源，实现前所未有的集约化、信息化、数字化、智能化。</p>
                        <p>无论是扬州市政府正式印发的《云上扬州顶层设计方案》、《云上扬州建设行动计划（2017-2020）》，
                            还是“云上攀枝花”、“云上恩施”、“云上兰州”、“云上贵州”等都通过“上云”的方式，完善政务数据资源融合共享机制，打造统一的政府数据共享交换体系。</p>
                        <p>同时，全国各城市都在号召企业上云，每个城市也都有专项扶持资金促进企业上云。政府构建智慧城市数据管理平台，委托相关企业管理，企业由“保姆”上升为“管家”，加速推进智慧城市建设。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/1003.png" alt="">
                        </div>
                        <h3>四、传统产业 +互联网顺势创新成趋势 </h3>
                        <p>中国的互联网尤其是移动互联网的发展，上半场是“互联网+”，下半场的商业模式更多的是“+互联网”，目前互联网已经渗透到传统制造业。</p>
                        <p>2013年，推动“互联网+”被列入政府工作报告，成为国家行动计划。“互联网+”的火爆，推动了相关产业的高速发展。近期，“传统产业+互联网”的顺势创新成为发展趋势。</p>
                        <p>
                            “互联网+”更多强调“逆袭创新”，而“+互联网”更多强调“顺势创新”。“+互联网”简单地说就是传统行业借助互联网手段把线下的生意做到线上去，但又不仅仅是如此，更多的是将互联网技术融合到产品的生产、管理、销售、服务等环节，互联网仅起到是一个工具的作用。</p>
                        <p>
                            许多企业大力投资孵化创新项目，2018年末，马化腾决定将腾讯进行大规模组织结构调整，由消费互联网向产业互联网转型。在实现了互联网与日常生活深入融合之后，腾讯将探索传统产业的互联网变革。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/1004.png" alt="">
                        </div>
                        <h3>五、技术赋能促进业务与数据技术融合 </h3>
                        <p>
                            智慧城市的推进离不开技术应用的落地。智慧城市已不再只是科幻电影描绘的未来蓝图，而是人们正在经历的“新智慧”时代。除了交通、旅游之外，智慧城市已经开始从医疗、政务、金融等各个点进行完善布局，人工智能、大数据、地理信息等技术的应用组成了一张技术大网，在降低能效的同时提升城市的治理效率。</p>
                        <p>2018年，《智慧城市
                            多规合一技术导则》国家标准公开征求意见。“数化万物　智在融合”，马化腾曾表示，数字化的转型需要数字技术和行业经验深度融合。技术赋能则是将整个链条数据流通起来的关键。近年，一大批专注于提供某项技术领域专业解决方案的企业如雨后春笋般破土而出，而在云计算、大数据和智能硬件方面更吸引了众多巨头的关注，建筑、医疗、法律、零售、教育、安全、会展旅游等场景也已纷纷推行“AI+”服务，一场自下而上的产业赋能推动了技术研发的深刻创新。云技术平台赋能媒体融合发展创新；科技赋能消费金融业务；AI技术赋能新零售，线上线下趋向融合……可谓技术赋能实体经济，与产业深度融合。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/1005.png" alt="">
                        </div>
                        <h3>六、AI人工智能全面赋能城市各行各业 </h3>
                        <p>
                            百度公司创始人、董事长兼CEO李彦宏曾表示：百度希望通过开放平台，将人工智能应用到各行各业。其实，人工智能已经开始全面赋能城市各行各业。在人工智能的时代，以前不懂你的机器，现在可以学习懂你了。</p>
                        <p>2019年1月16日，韩国科技通信部发布《数据及人工智能发展规划》；
                            2月5日，德国正式向全球公布《德国国家工业战略2030》；2月11日，美国正式签署行政命令《美国AI倡议》（American
                            AI Initiative）……各国纷纷加大对人工智能的重视与投入。</p>
                        <p>
                            我国同样高度重视人工智能产业的发展，在国家政策的引领下，城市各行各业开始出现AI人工智能的身影。相较之前AI的行业应用多集中在安防、金融、医疗等专业领域，2018年，家具、交通、教育等很多直接接触大众的，更高频的AI应用领域开始显著增多。</p>
                        <p>
                            2018年，交通部表示将促进人工智能与交通运输深度融合，加快建设交通强国。人工智能在医学领域应用新突破：国际知名医学科研期刊《自然·医学》2月11日刊发《使用人工智能评估和准确诊断儿科疾病》一文，电子病历突围在即。AI在教育领域的落地应用成为趋势，自适应学习、教育机器人、AI老师等成为教育行业的热词，越多越多教育企业开始探索人工智能应用场景。楼宇自动化系统、智能照明系统、智能遮阳板控制系统、信息集成系统等在绿色建筑中运用逐渐广泛。</p>
                        <p>2018年11月，中国专利保护协会发布《人工智能技术专利深度分析报告》，人工智能领域的专利申请量排名前3为的国家/地区依次为中国、美国、日本。</p>
                        <p>2018年12月，德勤首发《中国人工智能产业白皮书》。对人工智能在中国发展情况及在商业领域的应用作出深度解析。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/1006.png" alt="">
                        </div>
                        <h3>七、应用场景成技术创新应用关注重点 </h3>
                        <p>中国不缺研发核心技术的能力，缺的是应用场景！应用场景成为技术创新应用关注重点。</p>
                        <p>科大讯飞陈其山在2018年中国人工智能应用与生态峰会表示：应用场景创新是最关键的核心能力。虽然人工智能助力智慧城市，打开了更多应用场景，但其实是远远不够的。</p>
                        <p>2018年9月25日，重庆市启动2018－2019年重庆市智慧城市技术创新与应用示范专项重点示范项目申报工作，推动大数据智能化技术在政务服务、社会治理、民生改善等领域的应用示范。</p>
                        <p>2018年12月12日，上海人工智能应用场景建设实施计划正式发布，全球征集应用场景解决方案。</p>
                        <p>
                            2018年，在各行各业，应用场景成为技术创新应用关注重点：手机银行渐成风口丰富应用场景是创新方向；应用场景化，裸眼3D技术产品化成为未来创新点；智慧应用落地，服务场景创新，智能科技赋能传统零售……</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/1007.png" alt="">
                        </div>
                        <h3>八、大规模计算仿真迈向实际应用获突破</h3>
                        <p>
                            目前，中国城市化程度已接近60%，未来的城市管理存在着更多的挑战和不确定性。城市仿真技术作为智慧城市的重要一环，基于数字仿真在绿建领域的发展，将实现城市问题科学分析，城市发展预测，进而支持城市规划，辅助城市管理决策，为中国城市发展助力。</p>
                        <p>2018年，可以说是城市仿真大踏步迈向实际应用的一年，国内多个城市、企业相继成立“城市仿真”相关实验室或平台机构，第二届“城市大数据及城市仿真论坛”在北京举办。</p>
                        <p>
                            4月10日，武汉市召开武汉城市仿真实验室专家研讨会，成立国内首家城市仿真实验室。9月12日，中国电科智慧城市建模仿真与智能技术重点实验室成立。9月20日，杭州市城市仿真三维平台升级改造项目通过专家验收。</p>
                        <p>
                            9月20日，“城市大数据及城市仿真论坛2018”在北京召开，该论坛聚焦了国内外及各学科的城市仿真成果与应用研究，促进了和城市仿真有关的各学科的专家们的交流，搭建了城市仿真的国内外交流平台，深入挖掘了城市仿真在预测城市发展规律方面的应用，明确了基于时空大数据多学科全方位的城市仿真的共同方向，形成了与会全体专家们共同努力的目标，促成共同推进城市仿真以形成指导城市管理决策科学手段的决心。</p>
                        <p>
                            6月中旬，中国城市科学研究会智慧城市联合实验室数字仿真研究院成功实施南方某城市风环境仿真计算。仿真面积达到100平方公里，建筑物数量62014栋，计算网格达到805,006,512。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/1008.jpg" alt="">
                        </div>
                        <h3>九、智慧城市对安全认证提出多元需求</h3>
                        <p>
                            认证认可作为一种国际通行的质量和市场管理手段，在各国网络安全保障体系中的比重不断增强。习近平主席在4月召开的全国网络安全和信息化工作会议强调：必须维护网络安全，推动信息领域核心技术突破，发挥信息化对经济社会发展的引领作用，加强网信领域军民融合，主动参与网络空间国际治理进程，自主创新推进网络强国建设。</p>
                        <p>当前，我国智慧城市建设进入高峰期，信息安全问题不可轻视，如何发挥认证手段在智慧城市建设过程中的信息安全保障作用，有着现实的重要意义。</p>
                        <p>2018年，《信息安全技术
                            公民网络电子身份标识安全技术要求》等国家标准发布，新国标在加强网络产品和服务供应链安全保障、提高公民数字身份认证和网络身份识别技术的安全性、提升网络安全防护效率方面提出规范，为公民筑起信息安全的防护墙。诚信密钥体系（CCKS）等一些自主、可控的核心安全技术有效的改善了信息安全环境。</p>
                        <p>
                            2018年，郑州航空港区智慧城市数据中心获得公安部核准颁发的“国家信息系统安全等级保护三级备案”证书。智慧城市大数据中心政务安全认证和业务资源配套二标段（智慧城市大数据中心综合网管系统）等项目公开招标。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/1009.png" alt="">
                        </div>
                        <h3>十、智慧城市领域国际合作向纵深发展 </h3>
                        <p>
                            2018年，智慧城市加速推进，国际合作向纵深发展。由中国城市科学研究会智慧城市联合实验实主办的智慧城市国际合作论坛在上海召开，中欧政府间科技合作项目地平线2020计划URBiNAT项目负责人亲临现场进行项目介绍和案例分享，推进智慧城市领域国际合作。</p>
                        <p>2018年2月，国际合作智能网联汽车示范基地——中德合作成都智能网联汽车示范基地落户成都经济技术开发区龙泉驿区。</p>
                        <p>
                            2018年6月，中国城市科学研究会（CSUS）与德国国际合作机构（GIZ）宣布将联合组建智慧城市新智库，并在智慧治理、智慧住区、知识交流和专家咨询等领域达成了智慧城市合作协议，促进双方在智慧城市领域的联合研究和技术交流。</p>
                        <p>2018年9月，德国杜伊斯堡市政府代表团到访深圳对华为进行访问，双方发表联合声明，继续深化在智慧城市的合作。</p>
                        <p>中英智慧城市国际标准领域合作取得新进展。</p>
                        <div class="news-pic-center">
                            <img src="/static/img/news/news_100/10010.jpg" alt="">
                        </div>
                        <div style="border-top: 1px solid #c1c1c1"></div>
                        <p>上一篇：<a href="107.html">标准|IEC智慧城市系统委员会WG2工作会议在印度召开</a></p>
                        <p>下一篇：<a href="javascript: void 0">没有了</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
