{% extends 'base_case.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb" style="margin-top: 10px; margin-bottom: 10px;">
                    <li><a href="http://www.clantrip.com/">首页</a></li>
                    <li>
                        <a href="http://www.clantrip.com/index.php?m=content&amp;c=index&amp;a=lists&amp;catid=9">案例展示</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 service-list">
                    <dl class="service-item">
                        <dd class="wind1">
                            <a href="/case/case_wind1" class="service-item-title"><h3>某电视台塔后流涡街的研究</h3></a>
                            <p class="hidden-xs">
                                <span>仿真面积：0.2㎞²</span>
                            </p>
                            <p>
                                <span>解决问题： 一定速度的风绕流电视塔时，会出现卡门涡街。涡街的交替释放频率与塔的固有频率相重......</span>
                            </p>
                            <a href="/case/case_wind1" class="btn btn-outline-blue">查看详情</a>
                        </dd>
                        <dd class="wind2">
                            <a href="/case/case_wind2" class="service-item-title"><h3>杭州某小区方风环境仿真</h3></a>
                            <p class="hidden-xs">
                                <span>仿真面积：0.2㎞²</span>
                            </p>
                            <p>
                                <span>解决问题：根据《绿色建筑设计标准》评价小区风速、无风区和旋涡区、外窗内外表面压差、建筑迎背......</span>
                            </p>
                            <a href="/case/case_wind2" class="btn btn-outline-blue">查看详情</a>
                        </dd>
                        <dd class="water1">
                            <a href="/case/case_water1" class="service-item-title"><h3>外涝紧急蓄水管路优化分析</h3></a>
                            <p class="hidden-xs">
                                <span>仿真面积：1.43㎞²</span>
                            </p>
                            <p>
                                <span>解决问题：模拟百年一遇洪水在某区域发生，仿真计算得到市区洪水淹没过程与各项洪灾数据，对城市......</span>
                            </p>
                            <a href="/case/case_water1" class="btn btn-outline-blue">查看详情</a>
                        </dd>
                        <dd class="water2">
                            <a href="/case/case_water2" class="service-item-title"><h3>佛山市某城镇水环境仿真</h3></a>
                            <p class="hidden-xs">
                                <span>仿真面积：4.33㎞²</span>
                            </p>
                            <p>
                                <span>解决问题：该城镇在市区内属于海拔高度较低的位置，局部区域低于海平面高度，在暴雨发生时雨水易......</span>
                            </p>
                            <a href="/case/case_water2" class="btn btn-outline-blue">查看详情</a>
                        </dd>
                        <dd class="water3">
                            <a href="/case/case_water3" class="service-item-title"><h3>城市小规模降雨模型开发</h3></a>
                            <p class="hidden-xs">
                                <span>仿真面积：0.18㎞²</span>
                            </p>
                            <p>
                                <span>解决问题：城市降雨较大容易引发内涝，本算例模拟不同降雨量在一定时间内城市的淹没过程和受灾情......</span>
                            </p>
                            <a href="/case/case_water3" class="btn btn-outline-blue">查看详情</a>
                        </dd>
                        <dd class="pollutant1">
                            <a href="/case/case_pollutant1" class="service-item-title"><h3>某岛屿锅炉排放污染物浓度分布分析</h3></a>
                            <p class="hidden-xs">
                                <span>仿真面积：4875㎞²</span>
                            </p>
                            <p>
                                <span>解决问题：*******</span>
                            </p>
                            <a href="/case/case_pollutant1" class="btn btn-outline-blue">查看详情</a>
                        </dd>
                    </dl>

                </div>
                <p class="hidden-xs" id="right-line"></p></div>
        </div>
    </div>
{% endblock %}
