{% extends 'base_case.html' %}
{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 col-sm-12 usinfo-article">
                    <div class="article-title">
                        <h1 class="h2">案例展示
                            <small class="hidden-xs">杭州某小区方风环境仿真</small>
                        </h1>
                    </div>
                    <div class="article-content">
                        <h3>案例介绍</h3>
                        <p>
                            目标小区地处南方某城市，通过对建筑群整体布局、单栋建筑和流楼层之间的耦合模拟，完成了从大环境到小环境的耦合模拟，分析了建筑群风环境之间的联系与耦合关系，以及在设计过程中如何通过模拟预测分析来修正建筑室内外的布局，在建设设计阶段完善与评估小区的风环境。</p>
                        <h3>案例数据</h3>
                        <p></p>
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th>主要参数</th>
                                <td>边界条件U、P、k、epsilon、nut</td>
                            </tr>
                            <tr>
                                <th>仿真面积</th>
                                <td>1.02㎞²</td>
                            </tr>
                            <tr>
                                <th>网格数量</th>
                                <td>245万</td>
                            </tr>
                            <tr>
                                <th>项目耗时</th>
                                <td style="color: red">*****</td>
                            </tr>
                            </tbody>
                        </table>
                        <h3>结果展示</h3>
                        <div class="case_pic">
                            <p>网格划分</p>
                            <img src="/static/img/case_wind2/wind2pic1.png" alt="网格划分"/>
                            <p>速度分布</p>
                            <img src="/static/img/case_wind2/wind2pic2.png" alt="速度分布">
                            <p>压力分布</p>
                            <img src="/static/img/case_wind2/wind2pic3.png" alt="压力分布">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
