{% extends 'base.html' %}
{% block menu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/index">首页 </a></li>
            <li><a href="/dsri">仿真研究院</a></li>
            <li><a href="/city">城市仿真</a></li>
            <li><a href="/case">案例展示</a></li>
            <li><a href="/news">新闻中心</a></li>
            <li class="active"><a href="/download">资料下载<span class="sr-only">(current)</span></a>
                <p class="line-top hidden-xs"></p></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb" style="margin-top: 10px; margin-bottom: 10px;">
                    <li><a href="/index">首页</a></li>
                    <li><a href="/download">资料下载</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 download-list">
                    <div class="media download-item">
                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">
                                李迅—城市发展新时代、新理念、新方法</h4></a>
                            <p>将城镇化与高科技相结合发展模式，即智慧路径之下的城镇化道路</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 234 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="media download-item">

                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">Michael
                                Mulquin—Becoming a data driven city</h4></a>
                            <p>成为以数据驱动的城市</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 190 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="media download-item">

                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">
                                王桂新—基于队列变化的小区域人口预测及注意的问题</h4></a>
                            <p>城市大数据及城市仿真论坛2018</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 120 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="media download-item">

                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">
                                刘建—城市轨道交通海绵城市抵抗暴雨效果数值模拟</h4></a>
                            <p>城市大数据及城市仿真论坛2018</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 229 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="media download-item">

                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">
                                范秦寅—深入展开城市仿真的现实意义</h4></a>
                            <p>城市仿真的意义和科学性</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 78 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="media download-item">
                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">
                                蒋紫虓_巴塞罗那大都市区风资源评估案例</h4></a>
                            <p>风资源评估和城区分布式风电功率预测</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 24 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="media download-item">

                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">James
                                LaDine—Using Causal Relationship Model to Prioritize Simulation Parameters</h4></a>
                            <p>使用因果关系模型来确定模拟参数的优先级</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 21 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="media download-item">

                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">
                                吴小毛—粒界科技gritworld-城市仿真</h4></a>
                            <p>智慧城市管理/智慧小区/环保管理/资源管理/数字政务/智慧交通</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 32 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="media download-item">
                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">
                                梁松—三维仿真技术在城市多领域的创新应用</h4></a>
                            <p>交通规划/交通管理/安全保卫/治安防控/智能工厂/应急演练</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 17 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="media download-item">

                        <div class="media-body">
                            <a target="_blank" href="/start" class="download-title"><h4 class="media-heading">
                                王志永-基于多源数据融合的数据标准化</h4></a>
                            <p>城市模拟与仿真中的应用</p>
                            <div class="download-lable">
                                <label>
                                    <span>文件大小: </span><em> 183 KB</em>
                                </label>
                                <label>
                                    <span>上传时间: </span><em> 2019-04-17</em>
                                </label>
                                <label>
                                    <span>上传作者: </span><em> 数字仿真研究院</em>
                                </label>
                                <label>
                                    <span>文件分类: </span><em> 2018年城市大数据及城市仿真论坛</em>
                                </label>
                            </div>
                            <a target="_blank" href="/start" class="will btn btn-sm btn-outline-blue">免费下载</a>
                        </div>
                    </div>
                    <div class="article-footer">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li><a href="/start">«</a></li>
                                <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
                                <li><a href="/start">»</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <p class="hidden-xs" id="right-line"></p></div>
        </div>
    </div>
{% endblock %}
