{% extends 'base.html' %}
{% block menu %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index">首页</a></li>
                    <li class="active"><a href="/dsri">仿真研究院 <span class="sr-only">(current)</span></a>
                        <p class="line-top hidden-xs"></p></li>
                    <li><a href="/city">城市仿真</a></li>
                    <li><a href="/case">案例展示</a></li>
                    <li><a href="/news">新闻中心</a></li>
                    <li><a href="/download">资料下载</a></li>
                </ul>
            </div>
{% endblock %}
{% block content %}
<div class="item_banner item">
    <a target="_blank" href="/start">
        <img src="/static/img/home/banner1.jpg" alt="数字仿真研究院" style="width: 100%;height: 100%">
    </a>
</div>
<div class="main-container">
    <div class="container">
        <div class="row main-container-row" style="position: relative">
            <div class="col-xs-12 col-sm-12 usinfo-article">
                <div class="article-title">
                    <h1 class="h2">数字仿真研究院
                        <small class="hidden-xs">DSRI</small>
                    </h1>
                </div>
                <div class="article-content">
                    <h3>研究院简介</h3>
                    <p>关于计算流体力学（CFD）的仿真，早在20世纪30年代开始，先后应用于航空，汽车，家电等领域。日本较早应用于建筑行业。</p>
                    <p><span>数字仿真研究院</span>依托中城智慧（北京）城市规划设计研究院和中国城市科学研究会，致力于城市仿真研究，与国内外企业、大学及研究单位合作，创建城市仿真中心和系统。目的是从城市规划方法切入，实施城市的各项仿真和预测。目前有成熟的城市风环境、水环境、污染物扩散仿真模块和解决方案，仿真结果可以帮助城市规划设计单位对城市相关问题进行分析、预测、优化和提案。
                    </p>
                    <p>
                        目前，团队在全面掌握综合仿真方向的同时，在理念和经验上都争取走在前面。明确提出，认清中国城市化的历史使命，应用一切科学方法，管理好城市，积极累经验的同时，科学地预测好城市的各方面发展，规划好城市，特别是城市群的将来。常言道，磨刀不费砍柴功，认真实施对于城市，城市群的将来的预测，利用仿真现有技术，推动各项科学在城市方面的应用，不仅可以解决很多城市自身的问题，还可以推动科学技术的创新和发展。规划及研究的时间长一点，实施时的困难，将来的问题会少一些。才能够避免“一次性交钥匙工程”，实现多学科的综合利用，智慧的叠加。</p>
                    <p>
                        <span>数字仿真研究院</span>主要成员留学海外多年，2003年开始，基于长期积累的丰富经验，帮助中国建筑科学研究院开发BIM系统中的计算流体力学仿真。<span>数字仿真研究院</span>主要成员在积极推进绿色建筑应用的同时，积极向有关单位推进了城市环境仿真工作，2015年5月开始，在城市科学研究会领导的直接支持下，着手建立了目前的
                        <sapn>数字仿真研究院</sapn>
                        ，三年来已经发展成由90后优秀青年组成的朝气蓬勃的团队，依照硬软件国产化目标和方针，实施了100多平方公里（包括6万多个建筑物）的中国某城市的仿真计算，完成了风环境，水环境，污染物扩散的三个方面的开发及各种应用场景。成为国内第一家明确提出城市环境仿真的单位，积极对接20多个城市，推进城市仿真的落实，推进城市大数据的发展和整合。
                    </p>
                    <p>目前中国城市化程度已接近60%，未来的城市管理存在着更多的不确定性，中国城市科学研究会<span>数字仿真研究院</span>在积极落地中国绿色智慧城市过程中，以基于时空大数据的多学科全方位城市仿真推进中国软件国家意识的形成，为创造中国崭新的城市规划科学，为我国一带一路国家战略的贯彻实施和全球城市化进程作出特殊的贡献。
                    </p>
                    <h3>荣誉资质</h3>
                    <p></p>
                    <img src="/static/img/dsri/honor.png" alt="荣誉资质">
                    <h3>组织架构</h3>
                    <p>数字仿真研究院下属三个研究室，研究一室、研究二室、研究三室。</p>
                    <h3>历史发展</h3>
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                            <th>2015年5月</th>
                            <td>中国城市科学研究会智慧城市联合实验室数字仿真研究院正式成立</td>
                        </tr>
                        <tr>
                            <th>2016年9月</th>
                            <td>完成第一个CSS（City Simulation System）平台建设</td>
                        </tr>
                        <tr>
                            <th>2016年12月</th>
                            <td>中国城市45平方公里7000余建筑物季节风算例完成</td>
                        </tr>
                        <tr>
                            <th>2017年6月</th>
                            <td>中国某城区风环境、水环境、大气污染物扩散综合计算完成</td>
                        </tr>
                        <tr>
                            <th>2017年6月</th>
                            <td>城市大数据及城市仿真论坛2017在上海顺利召开</td>
                        </tr>
                        <tr>
                            <th>2018年2月</th>
                            <td>完成第一个CSS（City Simulation System）集群平台建设</td>
                        </tr>
                        <tr>
                            <th>2018年6月</th>
                            <td>中国南方某城市100平方公里62014栋建筑物，8亿网格城市风环境计算完成</td>
                        </tr>
                        <tr>
                            <th>2018年8月</th>
                            <td>中国南方某城市台风计算完成</td>
                        </tr>
                        <tr>
                            <th>2018年9月</th>
                            <td>第二届城市大数据及城市仿真论坛在北京西苑饭店顺利举行</td>
                        </tr>
                        <tr>
                            <th>2019年2月</th>
                            <td>中国南方某省会城市500平方公里55826栋建筑物风环境计算完成</td>
                        </tr>
                        <tr>
                            <th>2019年3月</th>
                            <td>中国某城市5000平方公里55万栋建筑物三维模型搭建完成</td>
                        </tr>
                        <tr>
                            <th>2019年4月</th>
                            <td>完成第一个高性能混合云计算平台建设</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3>团队风采</h3>
                    <p>
                        技术团队由具有流体力学基础、编程基础和丰富的仿真、后处理、软硬件集成经验的机械工程、热能工程、流体力学、信息技术等专业的90后年轻的学士、硕士和博士为主的成员组成。团队分工明确，配合默契，理论功底扎实，业务水平过硬。依照硬软件国产化目标和方针，实施了100多平方公里的中国某城市的仿真计算，完成了风环境、水环境、污染物扩散的三个方面的开发及各种应用场景的展示。目前正在拓展颗粒物扩散，燃烧和辐射等模块的开发。并且有经验丰富的GIS前处理、可视化后处理团队提供技术支撑。团队已经完成了多个城市仿真项目，做了大量的技术储备，不断提高为城市环境问题提供各种咨询和规划服务的水平。</p>
                    <p>
                        销售团队由多名熟悉智慧城市并了解市场运作规律和客户关系的职业经理人组成，目前覆盖全国主要城市的营销网络己逐歩建立，与政府单位和城市数据服务商建立了长期合作关系，开拓的市场领域包括城市污染物仿真及规划、智慧水务、绿色建筑以及智慧城市顶层设计等。</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
