{% extends 'base_news.html' %}
{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb" style="margin-top: 10px; margin-bottom: 10px;">
                    <li><a href="/index">首页</a></li>
                    <li><a href="/news">仿真资讯</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="container">
            <div class="row main-container-row" style="position: relative">
                <div class="col-xs-12 news-list">
                    <div class="media our-news-item">
                        <div class="media-left">
                            <a class="thumbnail" href="108.html">
                                <img class="media-object" src="/static/img/news/news1.jpg" alt="年度盘点|智慧城市2018回顾与展望">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="108.html"><h4 class="media-heading">年度盘点|智慧城市2018回顾与展望</h4></a>
                            <div class="dynamic-li">
                                <b>0</b><em class="pic-glob"></em><span>时间：2017-05-09 </span>
                            </div>
                            <p>
                                2018年，智慧城市建设已经十年，中国已成为全球最大智慧城市实施国。中国城市科学研究会智慧城市联合实验室在对2015、2016、2017年进行盘点后，再次推出智慧城市2018年度盘点！</p>
                            <div class="dynamic-li">
                                <a href="108.html">[详细]</a>
                                <span>作者：政研室 <span class="hidden-xs">www.scitylab.org</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="media our-news-item">
                        <div class="media-left">
                            <a class="thumbnail" href="107.html">
                                <img class="media-object" src="/static/img/news/news2.jpg"
                                     alt="标准|IEC智慧城市系统委员会WG2工作会议在印度召开">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="107.html"><h4 class="media-heading">标准|IEC智慧城市系统委员会WG2工作会议在印度召开</h4></a>
                            <div class="dynamic-li">
                                <b>0</b><em class="pic-glob"></em><span>时间：2017-05-08 </span>
                            </div>
                            <p> 2018年12月9日—12月14日，国际电工委员会智慧城市系统委员会（International Electrotechnical Commission SyC Smart
                                Cities Committee）第四次全会在印度城市瓦拉纳西召开。</p>
                            <div class="dynamic-li">
                                <a href="107.html">[详细]</a>
                                <span>作者：政研室 <span class="hidden-xs">www.scitylab.org</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="media our-news-item">
                        <div class="media-left">
                            <a class="thumbnail" href="106.html">
                                <img class="media-object" src="/static/img/news/news3.jpg" alt="国际标准化组织智慧城市试点开启新一轮遴选">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="106.html"><h4 class="media-heading">国际标准化组织智慧城市试点开启新一轮遴选</h4></a>
                            <div class="dynamic-li">
                                <b>0</b><em class="pic-glob"></em><span>时间：2017-05-08 </span>
                            </div>
                            <p> ISO智慧城市试点的城市征集工作仍在继续，目前该试点项目推进顺利，中国首批启动的试点城市已逐步进入专家调研和项目设计实施阶段。 </p>
                            <div class="dynamic-li">
                                <a href="106.html">[详细]</a>
                                <span>作者：政研室 <span class="hidden-xs">www.scitylab.org</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="media our-news-item">
                        <div class="media-left">
                            <a class="thumbnail" href="105.html">
                                <img class="media-object" src="/static/img/news/news4.jpg" alt="大数据应用城市准备好了吗？城市仿真试点征集中">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="105.html"><h4 class="media-heading">大数据应用城市准备好了吗？城市仿真试点征集中</h4></a>
                            <div class="dynamic-li">
                                <b>0</b><em class="pic-glob"></em><span>时间：2017-04-15 </span>
                            </div>
                            <p>2018年12月18日，由中国城市科学研究会智慧城市联合实验室发起的“城市仿真”项目举行启动仪式。</p>
                            <div class="dynamic-li">
                                <a href="105.html">[详细]</a>
                                <span>作者：政研室 <span class="hidden-xs">www.scitylab.org</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="media our-news-item">
                        <div class="media-left">
                            <a class="thumbnail" href="104.html">
                                <img class="media-object" src="/static/img/news/news5.jpg"
                                     alt="记录片|回顾过往，展望未来，直击“智慧城市十年”">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="104.html"><h4 class="media-heading">记录片|回顾过往，展望未来，直击“智慧城市十年”</h4></a>
                            <div class="dynamic-li">
                                <b>0</b><em class="pic-glob"></em><span>时间：2017-04-15 </span>
                            </div>
                            <p>智慧城市十年 哪些关键事件载入历史？ 哪些痛点难点成为过往？ 哪些大胆探索成为案例？</p>
                            <div class="dynamic-li">
                                <a href="104.html">[详细]</a>
                                <span>作者：政研室 <span class="hidden-xs">www.scitylab.org</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="media our-news-item">
                        <div class="media-left">
                            <a class="thumbnail" href="103.html">
                                <img class="media-object" src="/static/img/news/news6.jpg"
                                     alt="标准|ISO/TC268/SC1全会在莫斯科顺利召开">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="103.html"><h4 class="media-heading">标准|ISO/TC268/SC1全会在莫斯科顺利召开</h4></a>
                            <div class="dynamic-li">
                                <b>0</b><em class="pic-glob"></em><span>时间：2017-04-15 </span>
                            </div>
                            <p>2018年10月15-19日，ISO/TC268/SC1智慧城市基础设施分技术委员会在俄罗斯首都莫斯科顺利召开。</p>
                            <div class="dynamic-li">
                                <a href="103.html">[详细]</a>
                                <span>作者：政研室 <span class="hidden-xs">www.scitylab.org</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="media our-news-item">
                        <div class="media-left">
                            <a class="thumbnail" href="102.html">
                                <img class="media-object" src="/static/img/news/news7.jpg" alt="仿真|城市大数据及城市仿真论坛在北京召开">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="102.html"><h4 class="media-heading">仿真|城市大数据及城市仿真论坛在北京召开</h4></a>
                            <div class="dynamic-li">
                                <b>0</b><em class="pic-glob"></em><span>时间：2017-04-15 </span>
                            </div>
                            <p>
                                9月20日，“城市大数据及城市仿真论坛2018”在北京召开。论坛由中国城市科学研究会指导，中国城市科学研究会智慧城市联合实验室主办，中城智慧（北京）城市规划设计研究院承办。</p>
                            <div class="dynamic-li">
                                <a href="102.html">[详细]</a>
                                <span>作者：政研室 <span class="hidden-xs">www.scitylab.org</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="media our-news-item">
                        <div class="media-left">
                            <a class="thumbnail" href="101.html">
                                <img class="media-object" src="/static/img/news/news8.jpg"
                                     alt="邀请函|2018（第七届）国际智慧城市峰会暨智慧城市创新生态博览会">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="101.html"><h4 class="media-heading">邀请函|2018（第七届）国际智慧城市峰会暨智慧城市创新生态博览会</h4></a>
                            <div class="dynamic-li">
                                <b>0</b><em class="pic-glob"></em><span>时间：2017-04-15 </span>
                            </div>
                            <p>由中国城市科学研究会和海口市人民政府共同举办的“2018（第七届）国际智慧城市峰会暨智慧城市创新生态博览会”将于2018年12月18至19日在海口市召开。</p>
                            <div class="dynamic-li">
                                <a href="101.html">[详细]</a>
                                <span>作者：政研室 <span class="hidden-xs">www.scitylab.org</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="media our-news-item">
                        <div class="media-left">
                            <a class="thumbnail" href="100.html">
                                <img class="media-object" src="/static/img/news/news9.jpg" alt="【课题】关于商请参与县域智慧城市课题函">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="100.html"><h4 class="media-heading">【课题】关于商请参与县域智慧城市课题函</h4></a>
                            <div class="dynamic-li">
                                <b>0</b><em class="pic-glob"></em><span>时间：2017-04-15 </span>
                            </div>
                            <p>为响应“智慧社会”建设，中国城市科学研究会智慧城市联合实验室政策理论研究室将《县域智慧城市研究》列入研究工作计划。</p>
                            <div class="dynamic-li">
                                <a href="100.html">[详细]</a>
                                <span>作者：政研室 <span class="hidden-xs">www.scitylab.org</span> </span>
                            </div>
                        </div>
                    </div>


                    <div class="article-footer">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li><a href="/start">«</a></li>
                                <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
                                <li><a href="/start">»</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <p class="hidden-xs" id="right-line"></p></div>
        </div>
    </div>
{% endblock %}
